<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>
        {{ titulo or "Cell Protege" }}
    </title>

    <!-- ICON -->
    <link
        rel="icon"
        type="image/png"
        href="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/73e82fd9735043499bf13173260dbeaf.png"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="topo">

    <div class="left-nav">

        <div class="logo">
            <h1>Cell Protege</h1>

            <div class="sub">
                <span>Proteção para smartphones</span>
            </div>
        </div>

        <div class="badge">
            <img
                src="https://img.icons8.com/?size=100&id=YZHzhN7pF7Dw&format=png&color=000000"
                alt="Qualidade Certificada"
                width="40"
                height="40"
            >

            <p>Qualidade Certificada!</p>
        </div>

    </div>

    {% if session.usuario %}

    <div class="usuario">

        <span class="usuario-info">

            <img
                src="https://img.icons8.com/?size=100&id=11214&format=png&color=000000"
                alt="Usuário"
                width="24"
                height="24"
            >

            {{ session.usuario }}

        </span>

        <a href="/logout">

            <button class="logout">
                Sair
            </button>

        </a>

    </div>

    {% endif %}

</div>

<div class="container">

    {% block content %}

    {% endblock %}

</div>

{% block scripts %}

{% endblock %}

</body>

</html>