<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo or "Cell Protege" }}</title>

    <!-- ICON -->
    <link rel="icon" type="image/png" href="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/73e82fd9735043499bf13173260dbeaf.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="topo">
    <div class="logo">CELL PROTEGE</div>

    {% if session.usuario %}
    <div class="usuario">
        👤 {{ session.usuario }}
        <a href="/logout">
            <button class="logout">Sair</button>
        </a>
    </div>
    {% endif %}
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block scripts %}{% endblock %}

</body>
</html>