{% extends "base.html" %}
{% block content %}

<h2>Roubo / Furto</h2>

{% if erro %}
<p>{{ erro }}</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">

    <p>Boletim de ocorrência</p>
    <input type="file" name="boletim" accept=".pdf,.jpg,.jpeg,.png" required>

    <p>Nota fiscal</p>
    <input type="file" name="nota_fiscal" accept=".pdf,.jpg,.jpeg,.png" required>

    <p>Descrição</p>
    <textarea name="descricao" rows="4"></textarea>

    <button type="submit">Enviar</button>
</form>

<div class="voltar-container">
    <a href="/abrir-chamado">
        <button type="button" class="logout">Voltar</button>
    </a>
</div>

{% endblock %}