{% extends "base.html" %}
{% block content %}

<h2>Lista de Clientes</h2>

<form method="POST">
    <input
        name="busca"
        placeholder="Buscar CPF ou IMEI"
    >

    <button type="submit">
        Buscar
    </button>
</form>

<br>

{% for c in clientes %}

<strong>Nome:</strong> {{ c[1] }}<br>

<strong>CPF:</strong> {{ c[2] }}<br>

<strong>Email:</strong> {{ c[3] }}<br>

<strong>Telefone:</strong> {{ c[4] }}<br>

<strong>Endereço:</strong>
{{ c[5] }},
{{ c[6] }} -
{{ c[7] }} -
{{ c[8] }}/{{ c[9] }}
<br>

<strong>IMEIs:</strong> {{ c[11] }}<br>

<strong>Status:</strong>

{% if c[12] %}
    Ativo
{% else %}
    Desativado
{% endif %}

<br><br>

<a href="/clientes/editar/{{ c[0] }}">
    <button type="button">
        Editar
    </button>
</a>

<a href="/clientes/editar_endereco/{{ c[0] }}">
    <button type="button">
        Endereço
    </button>
</a>

<a href="/clientes/adicionar_imei/{{ c[0] }}">
    <button type="button">
        IMEI
    </button>
</a>

{% if session.get("perfil") == "admin" %}

    <form
        method="POST"
        action="/clientes/alternar_status/{{ c[0] }}"
        style="display:inline;"
    >

        {% if c[12] %}

            <button
                type="submit"
                class="logout"
            >
                Desativar
            </button>

        {% else %}

            <button type="submit">
                Ativar
            </button>

        {% endif %}

    </form>

{% endif %}

<hr>

{% endfor %}

<a href="/clientes">
    <button type="button">
        Voltar
    </button>
</a>

{% endblock %}