{% extends "base.html" %}
{% block content %}

<h2>Cadastrar Cliente</h2>

<form method="POST">

<h3>Dados Cliente</h3>
Nome:<input name="nome" required>
CPF:<input name="cpf" required>
Email:<input name="email">
Telefone:<input name="telefone">

<h3>Endereço</h3>
Rua:<input name="rua">
Número:<input name="numero">
Bairro:<input name="bairro">
Cidade:<input name="cidade">
Estado:<input name="estado">
CEP:<input name="cep">

<h3>IMEI</h3>
<input name="imei" maxlength="15" required>

<button type="submit">Salvar</button>

</form>

{% endblock %}