{% extends "base.html" %}
{% block content %}

<h2>Cadastrar Cliente</h2>

<form method="POST">

    <h3>Dados Cliente</h3>

    Nome:
    <input
        type="text"
        name="nome"
        placeholder="Nome completo"
        required
    >

    CPF:
    <input
        type="text"
        name="cpf"
        placeholder="000.000.000-00"
        required
    >

    Email:
    <input
        type="email"
        name="email"
        placeholder="email@exemplo.com"
        required
    >

    Telefone:
    <input
        type="text"
        name="telefone"
        placeholder="(00) 00000-0000"
        required
    >

    Senha:
    <input
        type="password"
        name="senha"
        placeholder="Senha do cliente"
        required
    >

    <hr>

    <h3>Endereço</h3>

    Rua:
    <input
        type="text"
        name="rua"
        placeholder="Rua"
        required
    >

    Número:
    <input
        type="text"
        name="numero"
        placeholder="Número"
        required
    >

    Bairro:
    <input
        type="text"
        name="bairro"
        placeholder="Bairro"
        required
    >

    Cidade:
    <input
        type="text"
        name="cidade"
        placeholder="Cidade"
        required
    >

    Estado:
    <input
        type="text"
        name="estado"
        placeholder="Estado"
        required
    >

    CEP:
    <input
        type="text"
        name="cep"
        placeholder="00000-000"
        required
    >

    <hr>

    <h3>IMEI</h3>

    <input
        type="text"
        name="imei"
        placeholder="IMEI do aparelho"
        maxlength="15"
        required
    >

    <button type="submit">
        Salvar
    </button>

</form>

<div class="voltar-container">
    <a href="/clientes">
        <button type="button" class="logout">
            Voltar
        </button>
    </a>
</div>

{% endblock %}