{% extends "base.html" %}
{% block content %}

{% if perfil == "admin" %}
    <h2>Admin</h2>

    <p>Bem-vindo, {{ usuario }}!</p>

    <br>

    <a href="/clientes">
        <button type="button">Clientes</button>
    </a>

    <a href="/funcionarios">
        <button type="button">Funcionários</button>
    </a>
    <a href="/chamados">
    <button type="button">Chamados</button>
</a>
{% else %}

    <h2>Atendente</h2>

    <p>Bem-vindo, {{ usuario }}!</p>

    <br>

    <a href="/clientes/cadastrar">
        <button type="button">Cadastrar cliente</button>
    </a>

    <a href="/clientes/listar">
        <button type="button">Listar cliente</button>
    </a>

{% endif %}

<br><br>

<a href="/logout">
    <button type="button" class="logout">
        Sair
    </button>
</a>

{% endblock %}