{% extends "base.html" %}

{% block content %}

<h2>Escolha o melhor plano para suas necessidades</h2>

<div class="planos">

    <div class="plano">
        <h3>Plano Básico</h3>

        <p>✔ Proteção contra roubo</p>
        <p>✔ Danos acidentais</p>
        <p>✖ Quebra de tela</p>
        <p>✖ Danos por água</p>

        <p><strong>R$ 29,99/mês</strong></p>

    </div>

    <div class="plano destaque">
        <h3>Plano Padrão</h3>

        <p>✔ Proteção contra roubo</p>
        <p>✔ Danos acidentais</p>
        <p>✔ Quebra de tela</p>
        <p>✖ Danos por água</p>

        <p><strong>R$ 39,99/mês</strong></p>

    </div>

    <div class="plano">
        <h3>Plano Completo</h3>

        <p>✔ Proteção contra roubo</p>
        <p>✔ Danos acidentais</p>
        <p>✔ Quebra de tela</p>
        <p>✔ Danos por água</p>

        <p><strong>R$ 49,99/mês</strong></p>

    </div>

</div>


<div class="voltar-container">
    <a href="/">
        <button> Voltar</button>
    </a>
</div>
{% endblock %}