<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cell Protege</title>

    <link rel="icon" type="image/png" href="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/73e82fd9735043499bf13173260dbeaf.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>

<header class="navbar">

    <div class="left-nav">

        <div class="logo">
            <h1>Cell Protege</h1>
            <div class="sub">
                <span>Seguro para smartphones</span>
            </div>
        </div>

        <div class="badge">
            <span>✅</span>
            <p>Qualidade?</p>
        </div>

    </div>

    <nav>
        <a href="#">Entre em contato</a>
        <a href="#">Serviços de seguro</a>
        <a href="/login">
            <button class="login-btn">Log in</button>
        </a>
    </nav>

</header>

<section class="hero">

    <div class="left">
        <h2>Seu celular está protegido?</h2>
        <p>
            Seguro completo contra <br>
            roubo, quedas & danos <br>
            acidentais.<br>
            Dependa da sorte!
        </p>

        <button class="cta">SE INSCREVA-SE JÁ!</button>
    </div>

    <div class="right">

        <div class="waves"></div>
        <div class="shield"></div>

        <img 
            src="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/d0da70672a2c45928dfadd0db44e35f0.png"
            alt="Celular protegido"
        >

        <div class="orbit">

            <div class="icon i1">
                <img src="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/c7b1e57de5ab441d8073258d2685f8cd.gif" alt="Roubo">
                <p>Roubo</p>
            </div>

            <div class="icon i2">
                <img src="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/fa7dd6971df9459987427abad01055bf.gif" alt="Furto">
                <p>Furto</p>
            </div>

            <div class="icon i3">
                <img src="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/fa858c3122da444fb9b1517fa9e62646.gif" alt="Quedas">
                <p>Quedas</p>
            </div>

            <div class="icon i4">
                <img src="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/6b6645a1e45d41e4bc32e4634aa826aa.gif" alt="Água">
                <p>Água</p>
            </div>

            <div class="icon i5">
                <img src="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/80402c9385d94de58831aaa9b021687c.gif" alt="Danos">
                <p>Danos</p>
            </div>

        </div>

    </div>

</section>

</body>
</html>