<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cell Protege</title>

    <!-- IMPORTANTE: usa só landing.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>

<header class="navbar">

    <div class="left-nav">

        <div class="logo">
            <h1>Cell Protege</h1>
            <div class="sub">
                <span>Seguro para smartphones</span>
            </div>
        </div>

        <div class="badge">
            <span>✔34</span>
            <p>Qualidade Certificada!</p>
        </div>

    </div>

    <nav>
        <a href="#">Entre em contato</a>
        <a href="#">Serviços de seguro</a>
        <a href="/login"><button class="login-btn">Log in</button></a>
    </nav>

</header>

<section class="hero">

    <div class="left">
        <h2>Seu celular está protegido?</h2>
        <p>
            Seguro completo contra <br>
            roubo, quedas & danos <br>
            acidentais.<br>
            Não depende da sorte
        </p>

        <button class="cta">SE INSCREVA-SE JÁ!</button>
    </div>

    <div class="right">

        <div class="waves"></div>
        <div class="shield"></div>

        <img src="https://gyzqfnxwnnxwzqtzodmu.supabase.co/storage/v1/object/public/uploads/33275359a217466ba46899f4ca8daf32.gif">

        <div class="orbit">

            <div class="icon i1"><span>💀</span><p>Roubo</p></div>
            <div class="icon i2"><span>🦌</span><p>Furto</p></div>
            <div class="icon i3"><span>📉</span><p>Quedas</p></div>
            <div class="icon i4"><span>🥋</span><p>Água</p></div>
            <div class="icon i5"><span>⚡</span><p>Danos</p></div>

        </div>

    </div>

</section>

</body>
</html>